body, html  h2{
margin: 0;
padding: 0;
}

.row{
	width: 90%;
	margin: 2% auto;
	overflow: hidden;

}

.column{
	
	box-sizing: border-box;
	float: left;
	margin-right: 2%;
	padding: 1em;
	background-color: red;
}

.one-column .column{
	width: 100%;
}

.two-columns .column{
	width: 49%;
}
.two-columns .column:nth-child(2n){
margin-right: 0;
}

.three-columns .column{
	width: 32%;
}
.three-columns .column:nth-child(3n){
margin-right: 0;
}

.four-columns .column{
	width: 23.5%;
}
.four-columns .column:nth-child(4n){
margin-right: 0;
}

.six-columns .column{
	width: 15%;
}
.six-columns .column:nth-child(6n){
margin-right: 0;
}

.twelve-columns .column{
	width: 6.5%;
}
.twelve-columns .column:nth-child(12n){
margin-right: 0;
}

.title{
	width: 32%;
}

.description{
	width: 66%;
}

.title-columns .description{
	margin-right: 0;
}



.right-sidebar .sidebar, 
.left-sidebar .sidebar {
	width: 23.5%;
}
.right-sidebar .content,
.left-sidebar .content {
	width: 74.5%;
}

.right-sidebar .sidebar{
	margin-right: 0;
}

.left-sidebar .content {
	margin-right: 0;
}

.span{
	font-weight: bold;
	width: 30%;
	text-align: left;
}



.gallery-grid {
  clear: both;
  
  display: block;
  float: left;
  width: 100%;
  padding: 8px;
}
.gallery-grid.columns {
	margin-right: 0;
}
.one-third {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(33.3333% - 16px);
  width: -moz-calc(33.3333% - 16px);
  width: -webkit-calc(33.3333% - 16px);
  width: calc(33.3333% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
}
.one-third:last-of-type {
  margin-right: 0;
}
.gallery-grid img {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
.gallery-grid a {
  display: block;
}
.screen {
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	border-radius: 0;
	height: 50%;
	width: 100%;
	position: absolute;
	opacity: 0;
	z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.screen:hover {
  opacity: 1
}
.title {
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  margin-left: -30px;
}
.screen:hover .title {
  margin-left: 0;
}
p {
  font-size: 2em;
  padding: 5%;
}
.screen.fade-in .title {
  margin-left: 0;
}
.screen.fade-in:hover {
}
.cta {
	clear: both;
	font-weight: bold;
	font-family: arial,helvetica, sans-serif;
	display: block;
	font-size: 2em;
}
