<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="row one-column">
        	<div class="column"><h2>Single</h2></div>
        </div>

        <div class="row two-columns">
        	<div class="column"><h2>Column 2</h2></div>
        	<div class="column"><h2>Column 2</h2></div>
        </div>

        <div class="row left-sidebar">
        	<aside class="sidebar column"><h2>Left Side Bar</h2></aside>
        	<div class="content column"><h2>Content</h2></div>
        </div>

        <div class="row right-sidebar">
        	<div class="content column"><h2>Content</h2></div>
        	<aside class="sidebar column"><h2>Right Side Bar</h2></aside>
        </div>


        <div class="row three-columns">
        	<div class="column"><h2>Column 3</h2></div>
        	<div class="column"><h2>Column 3</h2></div>
        	<div class="column"><h2>Column 3</h2></div>
        </div>

        <div class="row four-columns">
        	<div class="column"><h2>Column 4</h2></div>
        	<div class="column"><h2>Column 4</h2></div>
        	<div class="column"><h2>Column 4</h2></div>
        	<div class="column"><h2>Column 4</h2></div>
        </div>

        <div class="row six-columns">
        	<div class="column"><h2>C 6</h2></div>
        	<div class="column"><h2>C 6</h2></div>
        	<div class="column"><h2>C 6</h2></div>
        	<div class="column"><h2>C 6</h2></div>
        	<div class="column"><h2>C 6</h2></div>
        	<div class="column"><h2>C 6</h2></div>
        </div>

        <div class="row twelve-columns">
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        	<div class="column"><h2>C12</h2></div>
        </div>

    </body>
</html>